/* import fonts from fonts.css file */
@import url(./fonts.css);
/* css variables */ 
@import url(./partials/_variables.css);

/* *********** NAVIGATION ***********  */
.navbar {
    opacity: 0;
    height: 40px;
    transition: opacity 0.6s, height 0.4s;
    position:fixed;
    top:0; right:0;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: right;
    padding-top: 40px; padding-bottom: 0; padding-right: 0;
    width:100%;
    box-shadow: var(--box-shadow);
    z-index: 9999;
}
.navbar-brand {
    padding-left: 15px ;
    margin-top: -40px;
}
#navbarNav {
    padding-right:15px;
}
.nav-link{
    font: normal 300 0.8em/2px var(--neoteric);
    text-transform: uppercase;
    padding-left: 0.2rem;
    padding-right: 2rem;
    color: white;
    letter-spacing: 1px;
}
.active a, .navbar-nav a:hover{
    color: white;
}

/* *********** HOME ***********  */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: black ;
    background-size: cover;
    min-height: 100%;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
}
#video-background-area {
    background: black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    text-align: center;
}
#video-background {
    background: black;
}
.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 999;
}
.contact-button {
    margin: 2rem;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
}
.contact-button:hover{
    background: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    color: #ede9f0;
}
.fleche {
    position: absolute;
    bottom: 1rem;
    right: calc( 50% - 13px);
}
.logo {
    padding-top: 3rem;
    z-index: 999;
}

/* *********** PORTFOLIO ***********  */
.video {
    background-color: black;
}
.project-area  h1{
    font-size: 35px;
}
.project-area{
    padding: 4rem 0;
    background: white;
}
.button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}
.button-group button + button{
    padding-left: 2rem;
}
.grid .title h4{
    font: normal 600 20px/12px var(--roboto);
}
.grid p {
    margin-top: -0.2rem;
}

/* *********** ABOUT ***********  */
.about-area{
    padding: 8rem 5rem;
    background-color: black;
    color:white;
}
.espace{
    height:2rem;
}
.about-title h2 {
    text-align: center;
    font-family: Neoteric, Calibri, "Trebuchet Sans MS", sans-serif;
    font-size: 2.5em;
    font-weight: 100;
}
.site-main .about-area .about-title h3 {
    text-align: center;
    font-family: 'Roboto-Bold', Calibri, "Trebuchet Sans MS", sans-serif;
    color : gray;
    font-size: 1.1em;
    text-transform: uppercase;  
    padding-bottom: 3rem;
}
.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
    text-align: justify;
}

/* *********** SERVICES ***********  */
#services {
    padding: 2rem;
    background: white;
}
#services .container {
    margin-top: 2rem;
}
.service-area {
    display: flex;
    justify-content: center;
}
.container .services-list {
    margin-top: -2rem;
}
.services-area .services-title h1{
    font-size: 35px;
}
.services-area .services-title strong{
    font-size: 1.1em;
}
.services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 2rem .5rem;
    transition: box-shadow .7s ease;
}
.services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/* *********** AVIS ***********  */
.about-title h1{
    font: normal  35px var(--roboto);
}
.about-title p{
    padding: 1rem 7rem;
}
.client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0;
}
.client .client-img{
    padding: 2rem;
}
.client .about-client{
    padding-top: 2rem;
}
.client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}
.client .about-client p{
    font-size: 14px;
}
.owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}
.owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

/* *********** CONTACT ***********  */
#contact {
    color:black;
    text-align: center;
    background: black;
    margin-bottom: 300px;
    z-index: 5;
}
#contact h1{
    font: normal  35px/ 72px var(--roboto);
    margin-bottom: 15px;
}
#contact .container-fluid{
    color:white;
    padding-top: 20px; padding-bottom: 65px;
    background: url(../img/contactfond.png) center 0 no-repeat fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.cadre-noir {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px; padding-bottom: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site-main #contact .services-title{
    padding: 0 14rem;
}
.site-main #contact .services-title h1{
    font-size: 35px;
}
#contact .para {
    color:white;
    letter-spacing: 1px;
}
.form-row {
    justify-content: center;
}
fieldset.para{
    color: var(--text-color);
    font: normal 400 15px/ 25px var(--roboto);
}
legend {
    margin-top: 15px;
    font-family: 'Roboto-Condensed-Light', Calibri, "Trebuchet Sans MS", sans-serif;
    letter-spacing: 1px;
}
label {
    margin:5px;
    color:white;
}
small.space {
    margin-bottom: 15px;
}
.custom-file-label{
    text-align: left;
}

/* *********** FOOTER ***********  */
footer {
    position: fixed;
    background-color: black;
    color: #4b4b4b;
    height: 300px;
    bottom: 0; left:0;
    z-index: -2000;
}
footer h2{
    font-family: Neoteric, Calibri, "Trebuchet Sans MS", sans-serif;
    font-size: 1.9em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 200;
}
footer p, footer h2{
    position: relative;
    bottom: -50px;
}